<nb-card [size]="'medium'">
  <nb-card-body>
    <div class="content">
      <div class="header">
        <img src="assets/images/qnb/logo2.png" alt="">
        <h6 class="title">BACK OFFICE MANAGEMENT</h6>
      </div>

      <form>
        <div class="control">
          <label>Username</label>
          <input nbInput placeholder="Enter your username" />
        </div>

        <div class="control">
          <label>Password</label>
          <input nbInput placeholder="Enter your password" />
        </div>

        <nb-checkbox status="success">Remember me</nb-checkbox>

        <button nbButton status="success">Login</button>
      </form>
    </div>
  </nb-card-body>
</nb-card>