@import "../../@theme/styles/colors";

.content {
  .header {
    text-align: center;

    .title {
      margin-top: 1rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .control {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 1rem;
      }

      label {
        &::after {
          content: ' *';
          color: $red-one;
        }
      }

      &.password {
        .forgot {
          margin-top: 0.5rem;
          text-align: right;
        }
      }
    }

    .error_message {
      margin-bottom: 1rem;
    }
  }
}
