<nb-card [size]="'medium'">
  <nb-card-body>
    <div class="content">
      <div class="header">
        <img src="assets/images/qnb/logo2.png" alt="">
        <h6 class="title">BACK OFFICE MANAGEMENT</h6>
      </div>

      <form #loginForm="ngForm" (ngSubmit)="loginHandler()">
        <div class="control">
          <label>Username</label>
          <input nbInput fullWidth placeholder="Enter your username" ngModel name="username" />
        </div>

        <div class="control password">
          <label>Password</label>
          <input type="password" nbInput fullWidth placeholder="Enter your password" ngModel name="password" />

          <div class="forgot">
            <span><a>Forgot your password?</a></span>
          </div>
        </div>

        <div class="control">
          <nb-checkbox status="success">Remember me</nb-checkbox>
        </div>

        <div class="error_message qnb_error" *ngIf="hasError">
          {{ errorMessage }}
        </div>

        <button nbButton status="success">Login</button>
      </form>
    </div>
  </nb-card-body>
</nb-card>