.content {
  .header {
    text-align: center;

    .title {
      margin-top: 1rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .control {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      label {
        &::after {
          content: ' *';
        }
      }
    }
  }
}
