.new-row {
  margin-top: 20px;
}

.help-block{
  margin-top: 2px;
  color: red;
}

nb-select.ng-invalid.ng-touched{
  border: 1px solid red;
  border-radius: 0.25rem;
}

nb-select.appearance-outline .select-button{
  white-space: normal !important;
}

.form-group{
  min-height: 90px;
  margin-bottom: 0;
}

button {
  margin: 0px 10px;
}
