<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="User" badgeText="{{ users.length }}" badgeStatus="danger">
        <button nbButton class="m-3" style="float: right">
          <nb-icon icon="printer-outline"></nb-icon> Export
        </button>
        <table mdbTable class="table">
          <thead>
            <tr>
              <th *ngFor="let head of headElements" scope="col" (click)="
                  key = head.key; order = order === 'desc' ? 'asc' : 'desc'
                ">
                {{ head.heading }} <i class="fas fa-sort"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let user of users  | tableSort: key:order">
              <th scope=" row" (click)="openDetails(user)">
                {{ user.requestNo }}
              </th>
              <td>{{ user.userId }}</td>
              <td>{{ user.userName }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.expiryDate }}</td>
              <td>{{ user.status }}</td>
              <td>{{ user.requestType }}</td>
              <td>{{ user.requestedDate }}</td>
              <td>{{ user.makerId }}</td>
              <td style="white-space: nowrap">{{ user.requestStatus }}</td>
            </tr>
          </tbody>
        </table>
      </nb-tab>
      <nb-tab tabTitle="Role" badgeText="{{ roles.length }}" badgeStatus="danger">
        <button nbButton class="m-3" style="float: right">
          <nb-icon icon="printer-outline"></nb-icon> Export
        </button>
        <table mdbTable class="table">
          <thead>
            <tr>
              <th *ngFor="let head of roleHeadElements" scope="col">
                {{ head }} <i class="fas fa-sort"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let role of roles">
              <th scope="row" (click)="openRoleDetails(role)">
                {{ role.requestNo }}
              </th>
              <td>{{ role.roleName }}</td>
              <td>{{ role.roleDescription }}</td>
              <td>{{ role.unit }}</td>
              <td>{{ role.roleType }}</td>
              <td>{{ role.access }}</td>
              <td>{{ role.requestType }}</td>
              <td>{{ role.requestDate }}</td>
              <td>{{ role.makerId }}</td>
              <td style="white-space: nowrap">{{ role.requestStatus }}</td>
            </tr>
          </tbody>
        </table>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
