<qnb-section-header title="Pending Requests"></qnb-section-header>
<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="User" badgeText="{{ users.length }}" badgeStatus="danger">
        <button nbButton class="mb-3" style="float: right">
          <nb-icon icon="printer-outline"></nb-icon> Export
        </button>
        <table mdbTable class="table">
          <thead>
            <tr>
              <th *ngFor="let head of headElements" scope="col" (click)="filterChange(head)">
                {{ head.heading }} <i class="fas fa-sort"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let user of users | tableSort: filterObj">
              <th scope="row" (click)="openDetails(user)" class="linkText">
                {{ user.requestId }}
              </th>
              <td>{{ user.userId }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.groups }}</td>
              <td>{{ user.expiryDate  }}</td>
              <td>{{ user.createdTime | date:'short' }}</td>
              <td>{{ user.createdBy }}</td>
              <td style="white-space: nowrap">{{ user.workFlowStatus }}</td>
            </tr>
          </tbody>
        </table>
      </nb-tab>
      <nb-tab tabTitle="Role" badgeText="{{ roles.length }}" badgeStatus="danger">
        <button nbButton class="m-3" style="float: right">
          <nb-icon icon="printer-outline"></nb-icon> Export
        </button>
        <table mdbTable class="table">
          <thead>
            <tr>
              <th *ngFor="let head of roleHeadElements" scope="col">
                {{ head }} <i class="fas fa-sort"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let role of roles">
              <th scope="row" (click)="openRoleDetails(role)">
                {{ role.requestNo }}
              </th>
              <td>{{ role.roleName }}</td>
              <td>{{ role.roleDescription }}</td>
              <td>{{ role.unit }}</td>
              <td>{{ role.roleType }}</td>
              <td>{{ role.access }}</td>
              <td>{{ role.requestType }}</td>
              <td>{{ role.requestDate }}</td>
              <td>{{ role.makerId }}</td>
              <td style="white-space: nowrap">{{ role.requestStatus }}</td>
            </tr>
          </tbody>
        </table>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
