<nb-card>
  <nb-card-body>

    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" equalColumnsWidth>

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">

        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef nbSortHeader>
          {{customColumn}}
          <span *nbSortHeaderIcon="let asc = isAscending; let desc = isDescending">
            <nb-icon *ngIf="asc" icon="chevron-down-outline" aria-label="sorted ascending"></nb-icon>
            <nb-icon *ngIf="desc" icon="chevron-up-outline" aria-label="sorted descending"></nb-icon>
          </span>
        </th>

        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <button nbTreeGridRowToggle *ngIf="row.hasChildren()"
            [attr.aria-label]="row.expanded ? 'collapse' : 'expand'">
            <nb-icon [icon]="row.expanded ? 'chevron-down-outline' : 'chevron-right-outline'" aria-hidden="true">
            </nb-icon>
          </button>
          {{row.data.name}}
        </td>

      </ng-container>

      <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{column}}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column]}}</td>
      </ng-container>

    </table>

  </nb-card-body>
</nb-card>
