<div align ="right" class="pb-3 ">
  <button id="create-user-button" (click)="open()" nbButton status="success">Create User</button>
</div>

<nb-card>
  <nb-card-body>
    <table mdbTable class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th *ngFor="let head of headElements" scope="col">{{ head }} </th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let user of users">
          <th class="px-1"><i class="icons fa fa-edit" (click)="onEditUser(user.id)"></i></th>
          <th><i class="icons fa fa-trash-alt" (click)="onDeleteUser(user.id)"></i></th>
          <th scope="row">{{ user.userId }}</th>
          <td>{{ user.nickName }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td style="white-space: nowrap;">{{ user.dob }}</td>
          <td>{{ user.role }}</td>
          <td style="white-space: nowrap;">{{ user.expiryDate }}</td>
        </tr>
      </tbody>
    </table>

  </nb-card-body>
</nb-card>
