<form class="form-inline">
  <div class="col-md-12">
    <div class="row new-row">
      <div class="col-md-6"> <input type="text" nbInput fullWidth placeholder="User ID"></div>
      <div class="col-md-6"> <input type="text" nbInput fullWidth placeholder="First Name"></div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row new-row">
      <div class="col-md-6">Apply Restrictions</div>
      <div class="col-md-6">
        <nb-toggle status="danger"></nb-toggle>
      </div>
    </div>
  </div>

</form>
