:host nb-tab {
  padding: 1.25rem;
}

.new-row {
  margin-top: 20px;
}

.language-input {
  width: 100%;
}

.button-group {
  float: right;
}

textarea {
  height: 120px;
  resize: none;
}

// nb-card {
//   width: 1000px;
//   height: 620px;
// }

nb-card-body {
  height: 350px;
}

button {
  margin: 0px 10px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

nb-select.appearance-outline .select-button {
  white-space: normal !important;
}

.form-group {
  min-height: 88px;
  margin-bottom: 0;
}