<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <nb-card>
    <nb-card-body>

      <nb-tabset>
        <nb-tab tabTitle="User Profile">
          <div class="col-md-12">
            <div class="row new-row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">User ID</label>
                  <input type="text" nbInput fullWidth ngModel name="userId" required #userId="ngModel">
                  <span class="help-block" *ngIf="!userId.valid && userId.touched">This field is required</span>

                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Nick Name</label>
                  <input type="text" nbInput fullWidth ngModel name="nickName" required #nickName="ngModel">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">First Name</label>
                  <input type="text" nbInput fullWidth ngModel name="firstName" required #firstName="ngModel">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Last Name</label>
                  <input type="text" nbInput fullWidth>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row new-row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">DOB</label>
                  <input nbInput [nbDatepicker]="formpicker">
                  <nb-datepicker #formpicker></nb-datepicker>

                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">User type</label>
                  <nb-select style="width: 100%;">
                    <nb-option value="1">Fulltime</nb-option>
                    <nb-option value="2">Contract</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Entity</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Role</label>
                  <nb-select multiple style="width: 100%;">
                    <nb-option value="1">Admin</nb-option>
                    <nb-option value="2">System</nb-option>
                    <nb-option value="3">Viewer</nb-option>

                  </nb-select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row new-row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Mobile</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Expiry Date</label>
                  <input nbInput [nbDatepicker]="formpicker2">
                  <nb-datepicker #formpicker2></nb-datepicker>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Timezone</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row new-row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="">Select Language</label>
                  <nb-select multiple style="width: 100%;">
                    <nb-option value="1">Arabic</nb-option>
                    <nb-option value="2">English</nb-option>
                    <nb-option value="3">Hindi</nb-option>
                    <nb-option value="4">Spanish</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-md-7">
                <nb-checkbox class="language-input" status="basic">Send Password on email</nb-checkbox>
              </div>
            </div>

          </div>
        </nb-tab>
        <nb-tab tabTitle="Additional Info">
          <div class="col-md-12">
            <div class="row new-row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">TTL</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Nick Name</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">First Name</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Attribute1</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row new-row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Attribute2</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Attribute3</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">Attribute4</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="">MAC ID</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Login Restrictions">
          <div class="col-md-12">
            <div class="row new-row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">User ID</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">MAC ID</label>
                  <input type="text" nbInput fullWidth>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row new-row">
              <div class="col-md-6">Apply Restrictions</div>
              <div class="col-md-6">
                <nb-toggle status="danger"></nb-toggle>
              </div>
            </div>
          </div>
        </nb-tab>

      </nb-tabset>

    </nb-card-body>
    <nb-card-footer>
      <div style="float:right">
        <button nbButton hero status="normal" (click)="dismiss()">Discard</button>
        <button type="submit" nbButton hero status="success">Submit</button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
