<nb-card size="giant">
  <nb-card-body>
    <table class="table">
      <thead></thead>
      <tbody>
        <tr>
          <th>Transaction Name</th>
          <td>{{ data.transactionName }}</td>
        </tr>
        <tr>
          <th>Request Date</th>
          <td>{{ data.requestDate }}</td>
        </tr>
        <tr>
          <th>Country Name</th>
          <td>{{data.unit}}</td>
        </tr>
        <tr>
          <th>Bank Name</th>
          <td>{{ data.bankName }}</td>
        </tr>
        <tr>
          <th>Branch</th>
          <td>{{ data.branch }}</td>
        </tr>
        <tr>
          <th>City</th>
          <td>_</td>
        </tr>
        <tr>
          <th>Beneficiary Name</th>
          <td>{{ data.beneficiaryName }}</td>
        </tr>
        <tr>
          <th>Beneficiary Account Number/IBAN Name</th>
          <td>{{ data.beneficiaryAccountNo }}</td>
        </tr>
        <tr>
          <th>Currency Of Beneficiary's Account</th>
          <td>{{ data.currencyOfBeneficiaryAcc }}/td>
        </tr>
        <tr>
          <th>Intermediary Bank SWIFT Code</th>
          <td>{{ data.intermediateBankSwiftAcc }}</td>
        </tr>
        <tr>
          <th>SWIFT Code</th>
          <td>
            <label style="font-weight: 600;">ABDI</label>
            <input nbInput type="text" value="{{ data.swiftCode }}">
          </td>
        </tr>
        <tr>
          <th>Routing</th>
          <td>{{ data.routing }}</td>
        </tr>
        <tr>
          <th>SORT/CHIPS</th>
          <td>{{ data.sortOrChips }}</td>
        </tr>
        <tr>
          <th>Customer Name</th>
          <td>{{ data.customerName }}</td>
        </tr>
        <tr>
          <th>Customer Mobile Number</th>
          <td>{{ data.mobileNo }}</td>
        </tr>
        <tr>
          <th>Customer National ID</th>
          <td>{{ data.customerNationalId}}</td>
        </tr>
        <tr>
          <th>Rejection Remarks</th>
          <td>
            <input nbInput type="text">
          </td>
        </tr>
        <tr>
          <th>Channel Name</th>
          <td>{{ data.channel }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer>
    <div class="buttons-group">
      <button nbButton hero status="danger" style="background-color: #FE5578;">Reject</button>
      <button nbButton hero status="normal" >Back</button>

      <button type="submit" nbButton hero status="success">Accept</button>
    </div>
  </nb-card-footer>
</nb-card>
