<form class="form-inline" [formGroup]="roleForm" (ngSubmit)="onSubmit()">
  <nb-card>
    <nb-card-header *ngIf="roleForm.invalid">{{ editMode ? 'Update Role': 'Create Role' }}</nb-card-header>
    <nb-card-body>
      <div class="col-md-12">
        <div class="row new-row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Role Name*</label>
              <input type="text" nbInput fullWidth placeholder="" formControlName="role">
              <span *ngIf="!roleForm.get('role').valid && roleForm.get('role').touched" class="help-block">
                <span *ngIf="roleForm.get('role').errors['required']">This field is
                  required!</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row new-row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Role Description*</label>
              <textarea type="text" nbInput fullWidth placeholder="" formControlName="description"></textarea>
              <span *ngIf="!roleForm.get('description').valid && roleForm.get('description').touched"
                class="help-block">
                <span *ngIf="roleForm.get('description').errors['required']">This field is
                  required!</span>
              </span>
            </div>
          </div>
          <div class="col-md-12">

            <div class="new-row">
              <div class="form-group">
                <label for="">Access To*</label>
                <nb-select fullWidth style="width: 100%;" formControlName="access_to" multiple placeholder="">
                  <nb-option *ngFor="let roles of userRoles" [value]="roles.roleId">{{roles.roleId}}
                  </nb-option>
                </nb-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div style="float:right">
        <button nbButton hero status="danger" style="background-color: #FE5578;" (click)="dismiss()">Cancel</button>
        <button nbButton hero status="normal" (click)="reset()">Reset</button>
        <button nbButton hero status="success">Submit</button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
