nb-card {
  width: 500px;
  min-height: 420px;
}


.new-row {
  margin-top: 20px;
}

nb-checkbox {
  display: block;
  margin-top: 20px;
}

textarea {
  height: 120px;
  resize: none;
}

button {
  margin: 0px 10px;
}