<nb-card>
  <nb-card-body>
    <table class="table">
      <thead></thead>
      <tbody>
        <!-- <tr *ngFor="let item of data | keyvalue">
          <td>{{item.key}}</td>
          <td>{{item.value}}</td>
        </tr> -->
        <tr>
          <td>Reference Number</td>
          <td>{{data.requestNo}}</td>
        </tr>
        <tr>
          <td>User Id</td>
          <td>{{data.userId}}</td>
        </tr>
        <tr>
          <td>Username</td>
          <td>{{data.userName}}</td>
        </tr>
        <tr>
          <td>Role</td>
          <td>{{data.role}}</td>
        </tr>
        <tr>
          <td>Expiry Date</td>
          <td>{{data.expiryDate}}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{data.status}}</td>
        </tr>
        <tr>
          <td>Request Type</td>
          <td>{{data.requestType}}</td>
        </tr>
        <tr>
          <td>Requested Date</td>
          <td>{{data.requestedDate}}</td>
        </tr>
        <tr>
          <td>Maker Id</td>
          <td>{{data.makerId}}</td>
        </tr>
        <tr>
          <td>Request Status</td>
          <td>{{data.requestStatus}}</td>
        </tr>
        <tr *ngIf="data.requestStatus!='PENDING'">
          <td>Checker Comments</td>
          <td>Are you sure you want to add this user?</td>
        </tr>
        <tr>
          <td>Maker Comments</td>
          <td><textarea></textarea></td>
        </tr>
      </tbody>
    </table>
    <div class="buttons-group">
      <button nbButton hero status="danger" style="background-color: #FE5578;">Cancel Request</button>
      <button nbButton hero status="normal">Cancel</button>

      <button type="submit" nbButton hero status="success">Edit Request</button>
    </div>
  </nb-card-body>
</nb-card>
