@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

;

.text-success {
  color: #2ce69b !important;
}

.text-primary {
  color: #9B4F96 !important;
}
.bg-primary{
  background-color: #9B4F96 !important;
}
.bg-info{
  background-color: #2DC6D6 !important;
}
.bg-danger{
  background-color:  #FE5578 !important;
}
.bg-success{
  background-color:  #25DEA8 !important;
}
.bg-warning{
  background-color:  #FF9600 !important;
}
.nb-theme-qnbtheme nb-sidebar .main-container-fixed {
  background-color: #000f33;
  background: linear-gradient(127deg, #000f33, #78014f);
}

.nb-theme-qnbtheme nb-menu .menu-item {
  border-bottom: 1px solid #4e4057;
}

.nb-theme-qnbtheme nb-menu .menu-item a {
  color: #dadada;
}

.nb-theme-qnbtheme nb-menu .menu-item a.active,
.nb-theme-qnbtheme nb-menu .menu-item a:hover,
.nb-theme-qnbtheme nb-menu .menu-item>.menu-items>.menu-item a:hover,
.nb-theme-qnbtheme nb-menu .menu-item a.active .menu-icon,
.nb-theme-qnbtheme nb-menu .menu-item a:hover .menu-icon,
.nb-theme-qnbtheme nb-menu .menu-item>.menu-items>.menu-item a.active,
.nb-theme-qnbtheme nb-menu .menu-item>.menu-items>.menu-item a.active:hover {
  color: #fff;
}

.nb-theme-qnbtheme nb-search-field.modal-half .search::before {
  opacity: 0 !important;
}

nb-layout.modal-half.with-search .layout {
  transform: none !important;
}

.modal-half .search .form-wrapper {
  height: 180px !important;
}

.modal-half .search input {
  font-size: 2vw !important;
}

.table th {
  font-weight: 600;
}


nb-select.appearance-outline .select-button {
  white-space: normal !important;
}

.nb-theme-qnbtheme nb-card-header{
  text-transform: uppercase;
  font-size: 16px;
  color: #78014f;
}


// Non theme styles

.standardModel {
  width: 1240px !important;
  max-width: 100vw !important;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.help-block{
  color: red;
}