<div class="header-container">
  <div class="logo-container">
    <a class="logo" href="#" (click)="navigateHome()">
      <img src="assets/images/qnb/logo2.png" alt="">
    </a>
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
  </div>

  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="modal-half"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
      <nb-user  [onlyPicture]="userPictureOnly" [name]="account?.fullName"
        [picture]="account?.picture">
      </nb-user>
    </nb-action>
    <nb-action class="control-item" icon="power-outline" (click)="logout()"></nb-action>
  </nb-actions>
</div>