nb-card {
  padding: 40px;
}

.buttons-group {
  margin-top: 20px;
  text-align: center;
}

button {
  margin-left: 10px;
}

.message {
  font-family: Open Sans, sans-serif;
  font-size: 22px;
}

.comments-area {
  margin-top: 20px;
}

textarea {
  resize: none;
  height: 60px;
}