nb-card {
  padding: 40px;
}

.buttons-group {
  margin-top: 20px;
  text-align: center;
}

button {
  margin-left: 10px;
}

.message {
  font-family: Open Sans, sans-serif;
  font-size: 22px;
}

<<<<<<< HEAD
textarea {
  resize: none;
  height: 60px;
  margin-top: 20px;
=======
.comments-area {
  margin-top: 20px;
}

textarea {
  resize: none;
  height: 60px;
>>>>>>> 1a5eabf918bfbf6b866a4e3bd0145bbc44f1d429
}