<nb-card>
  <nb-card-header>Request Details</nb-card-header>
  <nb-card-body>
    <table class="table">
      <tbody>
        <!-- <tr *ngFor="let item of data | keyvalue">
          <td>{{item.key}}</td>
          <td>{{item.value}}</td>
        </tr> -->
        <tr>
          <td>Reference Number</td>
          <td>{{ data.requestId }}</td>
        </tr>
        <tr>
          <td>User Id</td>
          <td>{{ data.userId }}</td>
        </tr>
        <tr>
          <td>Username</td>
          <td>{{ data.firstName }}</td>
        </tr>
        <tr>
          <td>Role</td>
          <td>{{ data.groups }}</td>
        </tr>
        <!-- <tr>
          <td>User Type</td>
          <td>{{ data.type }}</td>
        </tr> -->
        <tr>
          <td>Expiry Date</td>
          <td>{{ data.expiryDate }}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{ data.workFlowStatus }}</td>
        </tr>
        <!-- <tr>
          <td>Request Type</td>
          <td>{{ data.requestType }}</td>
        </tr> -->
        <tr>
          <td>Request Date</td>
          <td>{{ data.createdTime | date:'short' }}</td>
        </tr>
        <tr>
          <td>Maker Id</td>
          <td>{{ data.createdBy }}</td>
        </tr>
        <tr>
          <td>Maker Comments</td>
          <td>{{ data.comments }}</td>
        </tr>
        <tr>
          <td>Checker Comments</td>
          <td><textarea [(ngModel)]="comment" class="w-100"></textarea></td>
        </tr>
      </tbody>
    </table>
    <div class="buttons-group">
      <button nbButton hero status="danger" (click)="approve('REJECT')" >Reject</button>
      <button nbButton hero status="basic" (click)="approve('RETURN')">Return</button>
      <button  nbButton hero status="success" (click)="approve('APPROVE')" type="submit">Approve</button>
    </div>
  </nb-card-body>
</nb-card>
