<qnb-section-header title="Dashboard"></qnb-section-header>
<div class="row">
  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-header>Active Session <span class="badge bg-primary text-light float-right mt-1">Current</span></nb-card-header>
      <nb-card-body>
        <div class="col-12 p-0">
          <h3 class="m-0">#40,200</h3>
        </div>
        <p class="m-0 text-secondary">Session <span class=" float-right text-success"><b>98%</b></span></p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-header>Other Banks<span class="badge bg-info text-light float-right mt-1">Annual</span></nb-card-header>
      <nb-card-body>
        <div class="col-12 p-0">
          <h3 class="m-0">275,800</h3>
        </div>
        <p class="m-0 text-secondary">Transactions<span class=" float-right text-info"><b>20%</b></span></p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-header>B2B <span class="badge bg-success text-light float-right mt-1">Today</span></nb-card-header>
      <nb-card-body>
        <div class="col-12 p-0">
          <h3 class="m-0">106,120</h3>
        </div>
        <p class="m-0 text-secondary">Transactions<span class=" float-right text-success"><b>44%</b></span></p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-header>Within QNB <span class="badge bg-danger text-light float-right mt-1">Today</span></nb-card-header>
      <nb-card-body>
        <div class="col-12 p-0">
          <h3 class="m-0">80,600</h3>
        </div>
        <p class="m-0 text-secondary">Transactions<span class=" float-right text-danger"><b>38%</b></span></p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-body class="p-0">
        
        <nb-tabset>
          <nb-tab tabTitle="My Pending Requests">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <p class="nav-link active m-0" aria-current="page">User</p>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Role</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Access Control</a>
              </li>
              
            </ul>
            <div>
              <div style="
              display: flex;
              justify-content: space-between;
              align-items: flex-end;
          ">
                <div>
                  <p> Req. No: <span><b>10541</b></span></p>
                  <p> Maker ID: <span>TQA0041</span></p>
                </div>
                <div>
                  <p> Role: <span><b>TestUser</b></span></p>
                  <p> Entity: <span>Bank, QNBDEV</span></p>
                </div>
                <div>
                  <br>
                  <p> Maker IP: <span>10.46.2.84</span></p>
                </div>
                <div>
                  <br>
                  <p><span>24 Sep 2020, 10:00 AM</span></p>
                </div>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="Pending Approvals">
            <p>List of <strong>orders</strong>.</p>
          </nb-tab>
          
        </nb-tabset>    

      </nb-card-body>
    </nb-card>
  </div>
</div>