<qnb-section-header title="Dashboard"></qnb-section-header>
<div class="row" *ngIf="account.usrname!='sysadmin'">
  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-header>Active Session <span class="badge bg-primary text-light float-right mt-1">Current</span>
      </nb-card-header>
      <nb-card-body>
        <div class="col-12 p-0">
          <h3 class="m-0">#40,200</h3>
        </div>
        <p class="m-0 text-secondary">Session <span class=" float-right text-primary"><b>98%</b></span></p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-header>Other Banks<span class="badge bg-info text-light float-right mt-1">Annual</span></nb-card-header>
      <nb-card-body>
        <div class="col-12 p-0">
          <h3 class="m-0">275,800</h3>
        </div>
        <p class="m-0 text-secondary">Transactions<span class=" float-right text-info"><b>20%</b></span></p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-header>B2B <span class="badge bg-success text-light float-right mt-1">Today</span></nb-card-header>
      <nb-card-body>
        <div class="col-12 p-0">
          <h3 class="m-0">106,120</h3>
        </div>
        <p class="m-0 text-secondary">Transactions<span class=" float-right text-success"><b>44%</b></span></p>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-12 col-md-3">
    <nb-card>
      <nb-card-header>Within QNB <span class="badge bg-danger text-light float-right mt-1">Today</span></nb-card-header>
      <nb-card-body>
        <div class="col-12 p-0">
          <h3 class="m-0">80,600</h3>
        </div>
        <p class="m-0 text-secondary">Transactions<span class=" float-right text-danger"><b>38%</b></span></p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-body class="p-0">

        <nb-tabset>
          <nb-tab tabTitle="My Pending Requests">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <p class="nav-link active" aria-current="page">User</p>
              </li>
              <li class="nav-item">
                <p class="nav-link" data>Role</p>
              </li>


            </ul>
            <div>
              <div class="flexTable">

                <div class="tableRow pt-1" *ngFor="let user of users">

                  <div class="tableCell col-md-6 row m-0 px-0">
                    <div class="col-12 row m-0">
                      <div class="col-2 p-0">
                        <p class="title">Req. No:</p>
                      </div>
                      <div class="col">
                        <p class="d-flex" (click)="showPendingDetails(user)"><b>{{user.requestId}} </b><span
                            class="badge bg-info text-light float-right ml-2">NEW</span>
                        </p>
                      </div>
                    </div>
                    <div class="col-12 row m-0">
                      <div class="col-2 p-0">
                        <p class="title">Maker ID:</p>
                      </div>
                      <div class="col">
                        <p> {{user.createdBy}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="tableCell col-md-3 px-0">
                    <div class="row m-0">
                      <div class="col p-0">
                        <p class="title">Username:</p>
                      </div>
                      <div class="col">
                        <p><b>{{user.firstName}}</b></p>
                      </div>
                    </div>
                    <div class="row m-0">
                      <div class="col p-0">
                        <p class="title">User ID:</p>
                      </div>
                      <div class="col">
                        <p> {{user.userId}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="tableCell col-md-3 px-0">
                    <div class="row m-0">
                      <div class="col p-0">
                        <p class="title">Expiry Date:</p>
                      </div>
                      <div class="col">
                        <p> {{user.expiryDate}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </nb-tab>

          <!-- Tab details for pending approvals -->

          <nb-tab tabTitle="Pending Approvals">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <p class="nav-link active" aria-current="page">User</p>
              </li>
              <li class="nav-item">
                <p class="nav-link">Role</p>
              </li>


            </ul>
            <div>
              <div class="flexTable">
                <!--
                <div class="tableRow pt-1" *ngFor="let user of users">

                  <div class="tableCell row m-0" style="width: 50%;">
                    <div class="col p-0 title">
                      <p>Req. No:</p>
                      <p>Maker ID:</p>
                    </div>
                    <div class="col-10">
                      <p class="d-flex" (click)="showDetails(user)"><b>{{user.requestId}} </b><span
                          class="badge bg-info text-light float-right ml-2">ADD</span></p>
                      <p> TQA0041</p>
                    </div>
                  </div>
                  <div class="tableCell row m-0">
                    <div class="col p-0 title">
                      <p>Role:</p>
                      <p>Entity:</p>
                    </div>
                    <div class="col">
                      <p class="d-flex"><b>{{user.groups}} </b><span
                          class="badge bg-danger text-light float-right ml-2">RETAIL</span></p>
                      <p> Bank, QNBDEV</p>
                    </div>
                  </div>
                  <div class="tableCell">
                    <br>
                    <p class="title"> Maker IP:</p>
                    <p>10.46.2.84</p>
                  </div>
                  <div class="tableCell">
                    <br>
                    <p><span>24 Sep 2020, 10:00 AM</span></p>
                  </div>
                </div> -->

                <div class="tableRow pt-1" *ngFor="let user of users">

                  <div class="tableCell col-md-6 row m-0 px-0">
                    <div class="col-12 row m-0">
                      <div class="col-2 p-0">
                        <p class="title">Req. No:</p>
                      </div>
                      <div class="col">
                        <p class="d-flex" (click)="showDetails(user)"><b>{{user.requestId}} </b><span
                            class="badge bg-danger text-light float-right ml-2">OLD</span>
                        </p>
                      </div>
                    </div>
                    <div class="col-12 row m-0">
                      <div class="col-2 p-0">
                        <p class="title">Maker ID:</p>
                      </div>
                      <div class="col">
                        <p> {{user.createdBy}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="tableCell col-md-3 px-0">
                    <div class="row m-0">
                      <div class="col p-0">
                        <p class="title">Username:</p>
                      </div>
                      <div class="col">
                        <p><b>{{user.firstName}}</b></p>
                      </div>
                    </div>
                    <div class="row m-0">
                      <div class="col p-0">
                        <p class="title">User ID:</p>
                      </div>
                      <div class="col">
                        <p> {{user.userId}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="tableCell col-md-3 px-0">
                    <div class="row m-0">
                      <div class="col p-0">
                        <p class="title">Expiry Date:</p>
                      </div>
                      <div class="col">
                        <p class="text-danger"> {{user.expiryDate}}</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </nb-tab>

        </nb-tabset>

      </nb-card-body>
    </nb-card>
  </div>
</div>
