nb-card-body{
  h3{
    font-weight: 400;
  }
}

// tabstyle

.nav-tabs .nav-link{
  text-decoration: none;
  margin-bottom: 0;
  cursor: pointer;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  font-weight: 600;
}

.flexTable{
  overflow: auto;
  .tableRow{

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #dee2e6;
    min-width: 90vh;
    .tableCell{
      padding: 15px;
      flex: none;

      p{
        margin-bottom: 5px;
        color: #656667;
        b{
          font-weight: 600;
        }
      }

      .title{
        color: #999;
       p{
        color: #999;
       }
      }
    }
    .tableCell:first-child{
      padding-left: 0;
    }
    .tableCell:last-child{
      padding-right: 0;
    }
  }
  
}