<nb-card>
  <div class="col-md-12 message">
    Do you want to enable the user? <br />
  </div>
  <div class="form-group comment-box">
    <label for="">Maker comments*</label>
    <textarea nbInput fullWidth>
  </textarea>
  </div>
  <div class="buttons-group">
    <!-- <button nbButton hero status="danger" style="background-color: #FE5578;" (click)="dismiss()">Cancel</button> -->
    <button nbButton hero status="normal">Cancel</button>
    <!-- <button type="submit" nbButton hero status="danger">Disable</button> -->
    <button type="submit" nbButton hero status="success">Enable</button>
  </div>

</nb-card>
