<nb-card>
  <div *ngIf="user.status=='DISABLED'" class="col-md-12 message">Do you want to enable the user? <br /></div>
  <div *ngIf="user.status=='ENABLED'" class="col-md-12 message">Do you want to disable the user? <br /></div>
  <textarea placeholder=" Maker comments" [(ngModel)]="comment"> </textarea>

  <div class="buttons-group">
    <!-- <button nbButton hero status="danger" style="background-color: #FE5578;" (click)="dismiss()">Cancel</button> -->
    <button nbButton hero status="normal" (click)="dismiss()">Cancel</button>
    <!-- <button type="submit" nbButton hero status="danger">Disable</button> -->
    <button
      type="submit"
      nbButton
      hero
      status="success"
      (click)="comment == null ? null : change_status()"
    >
      {{user.status=="ENABLED"?'Disable':'Enable'}}
    </button>
  </div>
</nb-card>
